

/**
* "Default" fallback rules
*/

* {
    box-sizing: border-box;
}

body {
    background-color: #F9FAFD;
    font-size: 15px;
    color: #535C68;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
}

/**
* Mobile/Small device and default rules
*/

#page-header {
    position: sticky;
    background-color: #F9FAFD;
    margin-bottom: 0px;
}

#primary-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

#primary-navigation {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    padding-top: 0px;
    background: white;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 10;
    display: none;
}

.nav-item {
    display: list-item;
}

.nav-item a {
    display: block;
    padding: 20px;
}

.nav-item a:hover {
    background-color:#FD815A;
    color: #FFFFFF;
}

#get-started-now-button {
    margin-top: -10px;
}

#hamburger-menu {
    margin-top: -10px;
    margin-right: 35px;
    background-color: inherit;
    z-index: 11;
}

#company-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
}

#company-logo-svg {
    display: inline-block;
    width: 45px;
    height: 50px;
}

.logo-triangle {
    fill: #FD815A;
    stroke: #FD815A;
}

#logo-circle {
    fill: #F9FAFD;
    stroke: #F9FAFD;
}

a:link, a:visited {
    text-decoration: none;
    color: #7B8798;    
}

#download-link, #sign-in-link {
    color: #FFFFFF;
}

#sign-in {
    font-weight: 600;
    color: #FFFFFF;
}

#download {
    font-weight: 600;
    color: #FFFFFF;
}

#mission-content-container {
    margin-top: 35px;
    padding: 25px;
}

h1 {
    font-size: 4.5em;
}

button {
    border: none;
    border-radius: 8px;
    height: 25px;
}

.orange {
    background-color: #FD815A;
}

/**
* 768px width sizing
*

@media screen and (min-width: 768px) {

}

/**
* 1024px width sizing
*

@media screen and (min-width: 1024px) {

}


/**
* 1216px width sizing
*

@media screen and (min-width: 1216px) {


}
*/