/**
* Colors
* --- 
* Grey: #F9FAFD
* Orange : #FD815A
* Light-Blue: #E6ECFF
* Blue: #4965CB
* Image-Blue: #5A7EFD
*/

/**
* "Default" fallback rules
*/

* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-size: 15px;
    color: #535C68;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
}

/**
* Header section rules
*/
#page-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #F9FAFD;
    mix-blend-mode: normal;
}

nav {
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
}

#nav-list {
    display: flex;
    list-style: none;
}

#nav-list li {
    position: absolute;
    z-index: 1000;
    margin: auto
}

#product {
    
}

#features {
    
}

#enterprise {
}

#company {
}

#sign-in {
}

#download {
}

#header-content {
    display: grid;
    grid-template-columns: 7fr 5fr;
}

#header-content 
/**
* Image rules
*/

#header-image {
    max-width: 100%;
    height: auto;
}

/**
* Features section rules
*/

/**
* Features grid rules
*/